body{
    background-color: rgb(43, 52, 103);
}
h1{
    color: rgb(186, 215, 233);
}

/* #p1{
    color: bisque;
}

#p2{
    color: azure;
}

#p3{
    color: aqua;
}

#p4{
    color: blueviolet;
} */

.odd {
    color:#EB455F;
}

.even {
    color: #FCFFE7;
}