.sidebar {
    background-color: white;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    width: 72px;
    z-index: 22;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    color: black;
    font-family: Roboto, Arial;
    font-size: 10px;
    margin-top: 5px;
}