.thumbnail {
    width: 300px;
    display: block;
    /* object-fit: contain;
    object-position: left;
    object-position: center;
    border-width: 2px;
    border-color: red;
    border-style: solid; */
}

.search-bar {

    font-size: 20px;
    margin-left: 12px;
    display: block;
}

.video-preview {
    width: 300px;
    display: inline-block;
}
